.env
*.swp
.vscode
envs
.init
airflow/deploy-key
airflow/deploy.key
*__pycache__*
venv/
.pylintrc
*.pyc
debug.py
airflow/dags/*
!airflow/dags/test_job.py
.gateway/
.idea/*
csw/xml/*
csw/pycsw.cfg
csw/file_list.json
udf/openeo-python-udf/
auth
udf/openeo-r-udf/
udf/examples/
oidc/
config-debug.yaml
dev_openeo
services/*/.mypy_cache/
services/*/.coverage
