VIRTUAL_HOST=example.com
VIRTUAL_PORT=3000
LETSENCRYPT_HOST= example.com
LETSENCRYPT_EMAIL=example@example.com
LETSENCRYPT_TEST='false'
PROJECT_NAME=openeo-openshift-driver
AIRFLOW_DAGS=/path/to/airflow/dags
OIDC_DIR=/path/to/oidc_folder
SYNC_RESULTS_FOLDER=/usr/src/sync-results
DATA_FOLDER=/path/to/data_folder
OPENEO_PYTHON_UDF_URL=http://openeo-python-udf:5000/udf
OPENEO_R_UDF_URL=http://openeo-r-udf:5555/udf
