############################################################################################
#
#  Sample used in CI pipeline!
#
#  Valid config required!
# ========================
#
############################################################################################

# the name of your project
PROJECT_NAME=openeo-eodc-driver
# the /dags folder of your Apache Airflow implementation
AIRFLOW_DAGS=./airflow/dags
# path where results for sync processing are temporarily stored
SYNC_RESULTS_FOLDER=./openeo-folders/sync-results
# path where data are located
DATA_FOLDER=./openeo-folders/data
# URL of Python UDF Service
OPENEO_PYTHON_UDF_URL=http://openeo-python-udf:5000/udf
# URL of R UDF Service
OPENEO_R_UDF_URL=http://openeo-r-udf:5555/udf
LOG_DIR=./openeo-folders/log
GATEWAY_PORT=3000
# openEO version
OPENEO_VERSION=v1.0
