nameko==2.12.0

git+git://github.com/Open-EO/openeo-pg-parser-python.git@static_node_ids#egg=openeo-pg-parser-python
git+git://github.com/eodcgmbh/eodc-openeo-bindings.git@v1.0.0#egg=eodc-openeo-bindings
