alembic==0.9.9
idna==2.7
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.0
marshmallow==2.15.3
nameko-sqlalchemy==1.4.0
psycopg2==2.7.4
python-dateutil==2.7.3
python-editor==1.0.3
SQLAlchemy==1.2.8
git+git://github.com/Open-EO/openeo-pg-parser-python.git#egg=openeo-pg-parser-python